.container {
    width: 200px; 
    margin:auto;
    padding: 200px;
}

.button {
    background-color:white;
    width: 200px; height: 200px;
     border-radius: 100px; box-shadow: 4px 4px 10px 2px gray;
     position: relative;
}

.button:hover {
    background-color:white; 
    box-shadow: none; border: 1px solid lightgrey
}

